article
{
  background-position: top center;
  background-repeat: no-repeat;
  color: hsl(0,0%,25%);
  line-height: 1.6em;
  overflow: hidden;
  padding: 6em 0;
  @media screen and (min-width: 40em)
  {
    padding: 10em 0;
  }
}

article + article
{
  border-top: 1px solid fade-out(black, .9);
}

.article-container
{
  border-bottom: 1px;
  margin: 0 auto;
  max-width: 700px;
  padding: 0 1em;
}

.article-header
{
  margin-bottom: 2em;
  position: relative;
  text-align: center;
  &::after
  {
    border-bottom: 1px solid hsl(0,0%,80%);
    bottom: 0;
    content: '';
    left: 45%;
    position: absolute;
    right: 45%;
  }
}

.article-header > h1
{
  background: -webkit-linear-gradient(darken($primary,35%), darken($primary,45%));
  -webkit-background-clip: text;
  margin: 0;
  padding-bottom: .5em;
  position: relative;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.article-header > p
{
  color: fade-out(darken($primary, 25%), .15);
  font-family: 'Museo Sans', 'museo-sans', sans-serif;
  font-size: 1.625em;
  font-weight: 400;
  letter-spacing: -.02em;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 0 2px #fffefa,
               0 0 1px #fffefa;
  z-index: 2;
}

.article-header > img
{
  display: block;
  margin: 0 auto;
}

.article-header > time
{
  border-radius: 2px;
  color: fade-out(darken($primary, 45%), .25);
  display: inline-block;
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .1em;
  margin-bottom: 2em;
  margin-top: 2.5em;
  padding: .2em .5em .15em;
  position: relative;
  text-shadow: 0 0 2px #fffefa,
               0 0 1px #fffefa;
  z-index: 2;
}

.article-body
{
  padding-top: 2em;
  > *:first-child
  {
    margin-top: 0;
  }
  > *:last-child
  {
    margin-bottom: 0;
  }
}

.article-body > p
{
  color: hsl(0,0%,25%);
  font-size: 1.125em;
  letter-spacing: .025em;
  line-height: 1.8em;
  margin: 2em 0;
  position: relative;
  z-index: 2;
}

.article-body img
{
  border: 3px solid hsla(0,0%,100%,.8);
  box-shadow: 0 0 25px hsla(0,0%,0%,.05),
  0 -35px 15px -20px hsla(0,0%,0%,.025);
  display: block;
  height: auto;
  margin: 1em 0;
  max-width: 100%;
  @media screen and (min-width: 40em)
  {
    margin: 2em 0;
  }
}

.article-footer
{
  text-align: center;
}
