.article-social
{
  margin-top: 2em;
  ul
  {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 .25em;
    text-align: center;
  }

  a {
    color: hsla(0,0%,0%,.6);
    display: block;
  }

  span {
    display: block;
    font-family: 'Museo Sans', 'museo-sans', sans-serif;
    font-size: .8em;
  }
}

.socialLink {
  height: 2.5em;
  width: 2.5em;
}

.socialIcon-circle-01 {
  stroke: hsla(0,0%,0%,.2);
  stroke-width: 2px;
  transition: all 200ms ease-out;
}
.socialLink:hover .socialIcon-circle-01 {
  stroke: hsla(0,0%,0%,.5);
}

.socialIcon-logo {
  fill: hsla(0,0%,0%,.4);
  transition: fill 250ms ease-out;
}
.socialLink:hover .socialIcon-logo {
  fill: hsla(0,0%,0%,.7);
}
