.bike-tag
{
  backface-visibility: hidden;
  box-shadow: 0 0 fade-out(black, 1);
  cursor: pointer;
  display: none;
  height: 2em;
  font-size: 1.25em;
  line-height: 1em;
  opacity: 0;
  position: absolute;
  transform-origin: center center;
  transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: -1;
  @media screen and (min-width: 45em)
  {
    display: block;
  }

  &::after,
  &::before
  {
    content: '';
    position: absolute;
    transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover::after,
  &:hover::before
  {
    transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &::before
  {
    background-color: $secondary;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }
  &:hover::before
  {
    background-color: white;
  }

  &::after
  {
    border-style: solid;
    height: 0;
    top: 0;
    width: 0;
    z-index: 1;
  }

  span
  {
    color: fade-out(black, .15);
    display: block;
    font-family: 'museo-sans', sans-serif;
    //font-size: 1.5em;
    font-weight: 900;
    letter-spacing: -0.05em;
    padding-top: .5em;
    perspective: 1000;
    text-shadow: 0 1px 1px fade-out(white, .5);
    //text-transform: uppercase;
    transform: scaleX(.95);
  }
}

.bike-container-show-tags
{
  .bike-tag
  {
    box-shadow: 0 10px 25px fade-out(black, .8);
    opacity: 1;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 2;
  }

  .bike-tag-to-left
  {
    transform: scale3d(1,1,1);
  }

  .bike-tag-to-right
  {
    transform: scale3d(1,1,1);
  }
}

.bike-tag-to-left {
  border-right: 4px solid $primary;
  padding-left: .5em;
  padding-right: .65em;
  transform: translate3d(120%,-20%,0) rotateZ(-5deg) rotateY(32deg);
  transform-origin: left center;

  &::after
  {
    border-width: 1em 1em 1em 0;
    border-color: transparent $secondary transparent transparent;
    left: -1em;
  }
  &:hover::after
  {
    border-color: transparent white transparent transparent;
  }

  span
  {
    transform-origin: left center;
  }
}

.bike-tag-to-right {
  border-left: 4px solid $primary;
  padding-left: .65em;
  padding-right: .5em;
  //transform: translateX(-70%) rotateY(50deg) translateY(-20px) rotateZ(15deg) scale3d(.9,.9,1);
  transform: translate3d(-120%,-20%,0) rotateZ(5deg) rotateY(-32deg);
  transform-origin: right center;

  &::after
  {
    border-width: 1em 0 1em 1em;
    border-color: transparent transparent transparent $secondary;
    right: -1em;
  }
  &:hover::after
  {
    border-color: transparent transparent transparent white;
  }

  span
  {
    transform-origin: right center;
  }
}



.bike-tag-wheel
{
  left: 7%;
  top: 32.4%;

  .bike-container-show-tags &
  {
    transition-delay: 400ms;
  }
}
.bike-tag-saddle
{
  left: 18%;
  top: 13%;
  transition-delay: 70ms;

  .bike-container-show-tags &
  {
    transition-delay: 300ms;
  }
}
.bike-tag-chain
{
  left: 23%;
  top: 51%;
  transition-delay: 140ms;

  .bike-container-show-tags &
  {
    transition-delay: 200ms;
  }
}
.bike-tag-cable
{
  left: 35%;
  top: 21.8%;
  transition-delay: 210ms;

  .bike-container-show-tags &
  {
    transition-delay: 100ms;
  }
}
.bike-tag-brake
{
  left: 56.5%;
  top: 34.5%;
  transition-delay: 280ms;

  .bike-container-show-tags &
  {
    transition-delay: 0;
  }
}


.bike-tag-pedals
{
  left: 49%;
  top: 55.2%;
  transition-delay: 210ms;
  .bike-container-show-tags &
  {
    transition-delay: 0;
  }
}
.bike-tag-decals
{
  left: 62%;
  top: 23.4%;
  transition-delay: 140ms;
  .bike-container-show-tags &
  {
    transition-delay: 100ms;
  }
}
.bike-tag-bell
{
  left: 72%;
  top: 12%;
  transition-delay: 70ms;
  .bike-container-show-tags &
  {
    transition-delay: 200ms;
  }
}
.bike-tag-handlebar
{
  left: 79.8%;
  top: 26%;
  .bike-container-show-tags &
  {
    transition-delay: 300ms;
  }
}
