.button
{
  background-color: $primary;
  background-image: radial-gradient(circle, fade-out($primary, 1), $primary);
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-family: 'museo-sans', sans-serif;
  font-weight: 900;
  padding: 1em 2.5em .9em;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.23, 1, 0.32, 1),
              box-shadow 150ms ease-out;

  &:hover
  {
    background-color: lighten($primary, 10%);
    box-shadow: 0 0 15px fade-out(black, .95);
  }
}

.toggle
{
  background-color: #e57c67;
  border-radius: 1.5em;
  bottom: 3em;
  box-shadow: 0 0 10px fade-out(white, .8);
  display: none;
  height: 3em;
  left: 50%;
  margin-left: -3em;
  overflow: hidden;
  position: absolute;
  transition: all 600ms 80ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  user-select: none;
  width: 6em;
  z-index: 3;
  @media screen and (min-width: 45em)
  {
    display: block;
  }
}

.toggle-status
{
  background-color: #a6cc70;
  border-radius: 1.5em;
  height: 100%;
  transform: translateX(-50%);
  transition: transform 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;

  .toggle-is-active &
  {
    transform: translateX(0);
  }

  &::after
  {
    background-color: white;
    background-image: linear-gradient(hsl(0,0%,95%), white);
    border: 3px solid #a6cc70;
    border-radius: 50%;
    content: '';
    cursor: pointer;
    height: 3em;
    position: absolute;
    right: 0;
    top: 0;
    width: 3em;
    z-index: 2;
  }
}
