@keyframes gate-open {
  100% {
    height: 0;
  }
}

.gate {
  bottom: 0;
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gate > li {
  animation-name: gate-open;
  animation-duration: 125ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  background-color: hsl(55, 25%, 95%);
  background-image: linear-gradient(hsla(55, 25%, 95%, .8), hsla(55, 25%, 90%, 1));
  box-shadow: inset 0 -2px 0 hsla(0,0%,50%,.2),
              inset 0 -2px 4px hsla(0,0%,80%,.1),
              inset 0 2px 2px hsla(0,0%,100%,.8);
  height: 10%;
  position: relative;
  transform-origin: top center;
  &:last-child::after {
    content: url('../images/garage-handle.svg');
    height: 30px;
    left: 50%;
    margin-left: -60px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 120px;
  }
}
