@keyframes rotation-360 {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes hide-bike {
  100% {
    transform: translateX(100%);
  }
}

.canvas-bike
{
  opacity: 0;
  transform: translateX(100%);
  transition: all 850ms 650ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  .playground-is-bike &
  {
    opacity: 1;
    transform: translateX(0);
    transition-duration: 850ms;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.bike-container {
  margin: auto;
  max-width: 800px;
  perspective: 500;
  position: relative;
  top: -10px;
  width: 100%;

  &::after
  {
    content: '';
    display: block;
    padding-top: 75%;
  }
}



.bike-container
{
  &::before
  {
    content: url('images/bike-shadow.svg');
    left: -22.5%;
    top: 31.5%;
    opacity: 0;
    position: absolute;
    transition: 1000ms 800ms ease-out;
    width: 111.5%;

    .playground-is-bike &
    {
      opacity: .9;
      transition: 500ms 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

.bike-container-is-hidden
{
  opacity: 0;
  transform: translateX(100%);
  transition: all 350ms 800ms ease-in;

  &::before
  {
    opacity: 0;
    transition: opacity 1000ms 200ms ease-out;
  }
}

.bike {
  display: block;
  position: absolute;
}

// Buttons
// -------------------------
@keyframes button {
  10% {
    background-color: hsla(50,100%,60%,0);
    transform: scale3d(.8,.8,.8);
  }
  100% {
    background-color: hsla(50,100%,60%,0);
    transform: scale3d(.8,.8,.8);
  }
}

.bike-container > button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  outline: 0;
  position: absolute;
  z-index: 2;
  @media screen and (min-width: 45em)
  {
    display: block;
  }

  span,
  &::after,
  &::before {
    border-radius: 50%;
    height: 80px;
    left: 50%;
    margin: -40px 0 0 -40px;
    position: absolute;
    top: 50%;
    transform: scale3d(.75,.75,1);
    transform-origin: center center;
    width: 80px;
  }
  &::after,
  &::before {
    background-color: fade-out($secondary, .4);
    content: '';
  }
  &::after {
    opacity: 1;
    transform: scale3d(0,0,1);
    transition: none;
  }
  &:hover::after {
    opacity: 0;
    transform: scale3d(1.5,1.5,1);
    transition: all 600ms ease-out;
  }

  &::before {
    animation-name: button;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    opacity: 1;
    transform: scale3d(0,0,1);
    transition: none;
  }
  &:active::before {
    opacity: 0;
    transform: scale3d(1.5,1.5,1);
    transition: all 500ms ease-out;
  }

  span {
    //border: 4px solid white;
    //box-shadow: inset 0 2px 1px hsla(0,0%,0%,.5),
    //                  0 2px 1px hsla(0,0%,0%,.5);
    color: transparent;
    direction: ltr;
    overflow: hidden;
    text-indent: -9999px;
    transition: all 50ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &:hover span {
    opacity: 0;
    transform: scale3d(1.25,1.25,1);
    transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

}

.bike-container-show-tags > button {
  display: none;
}



// Wheel Animations
// -------------------------
.wheel,
.wheel-gears,
.wheel-container,
.wheel-gears-container {
  transform-origin: center center;
}

.wheel-container,
.wheel-gears-container {
  //animation-name: rotation-360;
  //animation-duration: 1.25s;
  //animation-iteration-count: infinite;
  //animation-timing-function: linear;

  transition: transform 5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.wheel,
.wheel-gears {
  animation-name: rotation-360;
  animation-duration: 45s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.playground-is-slideshow,
.wheel-stop {
  .wheel-container,
  .wheel-gears-container {
    transform: rotateZ(5deg);
    transition: transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .wheel,
  .wheel-gears {
    animation-play-state: paused !important;
    transform: rotateZ(5deg);
  }
}

.wheel-gears {
  animation-duration: 10s;
  animation-play-state: paused;
}
.gears-active {
  .wheel-gears-container {
    transform: rotateZ(5deg);
    transition: transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .wheel-gears {
    animation-play-state: running;
    transform: rotateZ(5deg);
  }
}


// Brake Animations
// -------------------------
.button-wheels {
  height: 9.5%;
  right: 18.25%;
  top: 20%;
  width: 4.5%;

  &::before {
    animation-delay: 250ms;
  }
}

.brake-lever {
  transform: rotateZ(0);
  transform-origin: 640px 137px;
  transition: transform 100ms ease-out;
}
.wheel-stop {
  .button-wheels {
    height: 15.5%;
    right: 50%;
    top: 51%;
    width: 12%;
  }
  .brake-lever {
    transform: rotateZ(15deg);
  }
}


// Pedals Animations
// -------------------------
.chainring-container,
.chainring,
.pedal-container,
.pedal,
.pedal-paddle-container,
.pedal-paddle {
  animation-name: rotation-360;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center center;
}
.chainring-container,
.pedal-container,
.pedal-paddle-container {
  animation-duration: 5s;
  animation-play-state: paused;
}
.pedal {
  transform-origin: center 353 / 16 * 1em;
}
.pedal-container {
  transform-origin: 353px 353px;
}
.pedal-paddle-container,
.pedal-paddle {
  animation-direction: reverse;
}
.playground-is-slideshow,
.wheel-stop {
  .chainring-container,
  .chainring,
  .pedal,
  .pedal-paddle,
  .pedal-container,
  .pedal-paddle-container {
    animation-play-state: paused !important;
  }
}
.gears-active {
  .chainring-container,
  .pedal-container,
  .pedal-paddle-container {
    animation-play-state: running;
  }
}


// Gears Animations
// -------------------------
.button-gears {
  height: 7%;
  left: 61.8%;
  top: 31.5%;
  width: 5%;
}

.gears-lever {
  transform: rotateZ(0);
  transform-origin: 517px 215px;
  transition: transform 100ms ease-out;
}
.gears-active {
  .gears-lever-front {
    transform: rotateZ(-45deg);
  }
  .gears-lever-back {
    transform: rotateZ(45deg);
  }
}
