.playground
{
  background-color: $primary;
  background-image: radial-gradient(circle, fade-out(darken($primary,40%),1),fade-out(darken($primary,40%),.5)),
  url('images/header-bg.png');
  background-position: center center;
  background-size: contain;
  height: 600px;
  //max-height: 720px;
  overflow: hidden;
  position: relative;
}

.playground-canvas
{
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
