.canvas-slideshow
{
  transform: translateY(100%);
  transition: all 600ms 500ms cubic-bezier(0.645, 0.045, 0.355, 1);

  .playground-is-slideshow &
  {
    transform: translateY(0);
    transition: all 600ms 1500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.slide
{
  bottom: 0;
  display: flex;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%) rotateZ(-90deg);
  transform-origin: 50% 150%;
  transition: transform 1000ms 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 45%;
}

.slide-current
{
  transform: translateX(-50%) rotateZ(0deg);

  ~ .slide
  {
    transform: translateX(-50%) rotateZ(90deg);
  }
}

.slide-content
{
  margin: auto;
  position: relative;
}

.slide-image
{
  border: 4px solid $secondary;
  border-radius: 50%;
  box-shadow: 10px 0 0 fade-out(black, .5);
  display: block;
  height: auto;
  max-width: 400px;
  opacity: .7;
  transform: scale3d(.65,.65,1);
  transition: all 800ms 200ms linear;
  width: 100%;

  .slide-current &
  {
    box-shadow: 0 40px 80px fade-out(black, .8);
    opacity: 1;
    transform: scale3d(1,1,1);
    //transition: all 100ms 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .slide-current ~ .slide &
  {
    box-shadow: -10px 0 0 fade-out(black, .5);
  }
}

.slide-meta
{
  opacity: 0;
  padding: 2em 0 0;
  position: relative;
  text-align: center;
  transform: scale3d(.9,.9,1);
  transition: all 500ms linear;
  z-index: 2;

  .slide-current &
  {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms 1300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.slide-name,
.slide-description
{}

.slide-name
{
  color: $secondary;
  font-size: 2em;
  margin-bottom: .25em;
}

.slide-description
{
  color: white;
  letter-spacing: .1em;
  margin: 0;
}

.slide-nav
{
  background-color: transparent;
  background-image: url('images/icon-next-prev.svg');
  border: 0;
  direction: ltr;
  display: block;
  position: absolute;
  height: 6.5em;
  margin-top: -3.75em;
  opacity: 0;
  outline: 0;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  transition: all 300ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 6.5em;
  z-index: 1;

  .playground-is-slideshow &
  {
    transition: all 300ms 2500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.slide-nav-prev
{
  left: 0;
  transform: translateX(-100%) rotateZ(180deg);
  @media screen and (min-width: 62em)
  {
    left: 15%;
  }

  .playground-is-slideshow &
  {
    transform: translateX(0) rotateZ(180deg);
    opacity: 1;
  }

  &.is-inactive
  {
    transform: translateX(-100%) rotateZ(180deg);
    transition-delay: 0;
    opacity: 0;
  }
}

.slide-nav-next
{
  right: 0;
  transform: translateX(100%);
  @media screen and (min-width: 62em)
  {
    right: 15%;
  }

  .playground-is-slideshow &
  {
    transform: translateX(0);
    opacity: 1;
  }

  &.is-inactive
  {
    transform: translateX(100%);
    transition-delay: 0;
    opacity: 0;
  }
}

.slide-nav-close {
  background-color: transparent;
  background-image: url('images/icon-close.svg');
  border: none;
  color: transparent;
  direction: ltr;
  display: block;
  height: 3.5em;
  margin-top: 0;
  opacity: 0;
  outline: 0;
  overflow: hidden;
  right: 1.5em;
  text-indent: -9999px;
  top: 1.5em;
  width: 3.5em;

  .playground-is-slideshow &
  {
    opacity: 1;
    transition: all 400ms 2200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
