.post-navigation
{
  border-top: 1px solid fade-out(black, .9);
  margin-top: 2em;
  padding-top: 4em;
  position: relative;
  @media screen and (min-width: 35em)
  {
    display: flex;
  }
}

.post-navigation-title
{
  font-size: .8em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

.post-prev,
.post-next
{
  padding: 1em;
  position: relative;
  text-align: center;
  @media screen and (min-width: 35em)
  {
    width: 50%;
  }

  &:before
  {
    border-bottom: 1px solid fade-out(black, .95);
    content: '';
    left: 50%;
    margin-left: -25px;
    position: absolute;
    top: 2.7em;
    width: 50px;
    @media screen and (min-width: 35em)
    {
      left: auto;
      margin-left: 0;
    }
  }

  a
  {
    font-family: 'Museo Sans', 'museo-sans', sans-serif;
    font-size: 2em;
    font-weight: 900;
  }
}

.post-prev
{
  left: 0;
  @media screen and (min-width: 35em)
  {
    text-align: left;
  }

  &:before
  {
    @media screen and (min-width: 35em)
    {
      left: 1em;
    }
  }
}

.post-next
{
  right: 0;
  @media screen and (min-width: 35em)
  {
    text-align: right;
  }

  &:before
  {
    right: 1em;
  }
}
