.search-label {
  color: fade-out(white, .55);
  display: block;
  font-family: 'museo-sans', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  margin-left: .25em;
  margin-bottom: .75em;
  text-align: left;
  text-transform: uppercase;
}

.search {
  background-color: darken($primary,45%);
  bottom: 0;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9100;
}

.search-input {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: $secondary;
  flex-shrink: 0;
  flex-grow: 0;
  font-family: 'merriweather', serif;
  font-size: 6em;
  letter-spacing: -.05em;
  outline: none;
  width: 100%;
}
