$primary:  #6ca6a1;
$secondary: hsl(50,100%,60%);


*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: greyscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  background-color: #fffefa;
  background-color: #fffdf5;
  font-family: 'merriweather', serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  @media screen and (min-width: 40em) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: darken($primary,45%);
  font-family: 'museo-sans', sans-serif;
  font-weight: 900;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -.05em;
  line-height: 1em;
  margin-bottom: .5em;
  @media screen and (min-width: 40em) {
    font-size: 5em;
  }
}

a {
  color: $primary;
  text-decoration: none;
}

p {
  hyphens: auto;
  line-height: 1.2em;
  margin: 1.5em 0;
}
