.footer {
  background-color: $secondary;
  background-image: linear-gradient(lighten($secondary, 10%), $secondary);
  padding: 8em 0;
  text-align: center;
}

.footer h1 {
  font-size: 1em;
}

.footer p {
  font-size: .8em;
}

.footer a {
  color: fade-out(black,.2);
  font-weight: 600;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    font-size: .6em;
    margin: 0 1em;
  }
}

.footer-logo {
  margin-bottom: 2em;
  opacity: .85;
  width: 200px;
}
