.header-article {
  //background-color: $primary;
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  padding: 0 1em;
  position: fixed;
  right: 0;
  top: 0;
  vertical-align: middle;
  z-index: 9000;
}

.button-back {
  background-image: url('images/icon-back.svg');
  background-color: $primary;
  color: transparent;
  display: inline-block;
  left: 0;
  line-height: 3.5em;
  height: 3.5em;
  overflow: hidden;
  position: fixed;
  top: 0;
  vertical-align: middle;
  width: 3.5em;
  // &:before {
  //   content: url('images/icon-back.svg');
  //   display: inline-block;
  //   height: 3.5em;
  //   width: 3.5em;
  // }
}
.admin-bar .header-article,
.admin-bar .button-back
{
  @media screen and (min-width: 601px)
  {
    top: 46px;
  }
  @media screen and (min-width: 783px)
  {
    top: 32px;
  }
}
